body {
    margin: 0;
    background: white;
    text-align: center;
}

.header {
    background: rgb(140,123,105);
    color: rgb(251,253,229);
    font-family: 'Gaegu';
    margin-top: 3%;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 20px;
}

.button {
    background-color: #4276b5;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }

  .water {
    color:lightblue;
  }
  
  .sleep {
    color:purple;
  }

  .mood {
    color: green;
  }

  .food {
    color:  darkorange;
  }
 
  .foodtable, tr, th, td{
    border: 1px solid black;
    box-align: center;
    
  }

  .buttonS {
    background-color: purple;
    color:beige;
    border-radius: 12px;
  }
  .buttonW {
    background-color: lightblue;
    color:beige;
    border-radius:12px ;
    border:none;
  }
  .buttonWA {
    background-color: lightblue;
    color:beige;
    border-radius: 100px;
    border:none;
  }
  .buttonF {
    background-color: darkorange;
    color:beige;
    border-radius: 12px;
    border:1px solid gray;
  }