body {
    margin: 0;
    background: white;
    text-align: center;
}

.header {
    background: rgb(140,123,105);
    color: rgb(251,253,229);
    font-family: 'Gaegu';
    margin-top: 3%;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 20px;
}
